% Compiler Options for rebar
{erl_opts, [{debug_info, warnings_as_errors, {src_dirs, ["src"]}}]}.

% Dependencies
{deps, [
	{meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
	{qdate, ".*", {git, "https://github.com/choptastic/qdate.git", master}},
    	{eunit_formatters, ".*", {git, "git://github.com/seancribbs/eunit_formatters", master}}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

%{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{eunit_opts, [
     no_tty,
     {report, {eunit_progress, [colored, profile]}}
    ]}.
